// .col-lg-5 {
// 	background: rgba(226, 226, 226, 0.85);
// 	border-radius: 10px;
// 	border: 2px solid black;
// 	padding: 10px;
// 	margin: 0 auto;

// 	div {
// 		width: 50%;
// 		margin: auto;
// 	}
// }

// .col-lg-7  {
// 	background: rgba(226, 226, 226, 0.85);
// 	border-radius: 10px;
// 	border: 2px solid black;
// 	padding: 10px;
// 	height: 613px;
// 	margin: 0 auto;
// }
// .col-lg-7 img{
// 	margin:65px;
// 	padding:10px;
// 	height:400px;
// 	width:400px;
// 	border-radius:25px;

// }

// .ironyard {
// 	height: 75%;
// 	width: 75%;
// 	margin: auto;
// }

// .col-lg-5 .twitPic {
// 	margin: 10px;
// 	height: 25px;
// 	width: 25px;
// 	border-radius: 100%;
// }

// .col-lg-5 .aboutPic{
//  	height: 90px;
//  	width:90px;
//  	background-size: cover;
//  	border-radius: 100px;
//  	-webkit-border-radius: 100px;
//  	-moz-border-radius: 100px;
//  	-webkit-transition: 0.5s ease;
//     -moz-transition: 0.5s ease;
//     -o-transition: 0.5s ease;
//     transition: 0.5s ease;
// }

// .jumbotron {
// 	background-color: rgba(209, 209, 209, 0.7);
// 	border: 1px solid black;
// }

// .col-lg-5 .aboutPic:hover {
// 	height: 150px;
// 	width: 150px;
// 	border: 2px solid black;
// }

// .jumbotron div {
// 	position: relative;
// }

// body {
// 	background-image: url(http://s3.amazonaws.com/placester-wordpress/blogs.dir/6189/files/2013/11/Bridge-at-shem-creek-071347.jpg);
// }