.twitPic {
	margin: 10px;
	height: 25px;
	width: 25px;
	border-radius: 100%;
}


.jumbotron .aboutPic{
 	height: 90px;
 	width:90px;
 	background-size: cover;
 	border-radius: 100px;
 	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;
 	-webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.jumbotron {
	background-color: rgba(209, 209, 209, 0.7);
	border: 1px solid black;
}

.jumbotron .aboutPic:hover {
	height: 150px;
	width: 150px;
	border: 2px solid black;
}

.jumbotron div {
	position: relative;
}

body {
	background-image: url(http://s3.amazonaws.com/placester-wordpress/blogs.dir/6189/files/2013/11/Bridge-at-shem-creek-071347.jpg);
}