$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower
body{
	background-image:
	url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtZLESM9u5PNMR4pSSjmTHgltj9_eiuX3hpXbN5u4kf0dDxPTH);    
}
.container{
    background: black;
}

.jumbotron {
	height: 550px;
}

.col-md-8 {
	inline: block;
	margin: 0;
	vertical-align: left;
	width: 500px;
	font-family: "Oswald", sans-serif;
}

.col-md-4 {
	inline: block;
	width: 350px;
	font-size: 8px;
	font-family: "Oswald", sans-serif;
}

.results {
	list-style-type: none;
	font-family: "Oswald", sans-serif;
	text-color: black;
	font-size: 45px;
	background: white;
	width: 150px;
	height: 75px;
	border-radius: 10px;
}


