$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower
body{
	background-image:
	url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtZLESM9u5PNMR4pSSjmTHgltj9_eiuX3hpXbN5u4kf0dDxPTH);    
}
.container{
    background: black;

}

.results {
<<<<<<< HEAD
	color: white;
}
=======
	text-color: black;
	font-size: 45px;
	background: white;
	width: 150px;
	height: 75px;
	border-radius: 10px;
}

>>>>>>> 47b71be21bd3db51612bdbaedd718e9382dbccf8
