$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower
body{
	background-image:
	url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtZLESM9u5PNMR4pSSjmTHgltj9_eiuX3hpXbN5u4kf0dDxPTH);    
}
.container{
    background: black;
}

.results {
	list-style-type: none;
	font-family: "Oswald", sans-serif;
	text-color: black;
	font-size: 45px;
	background: white;
	width: 150px;
	height: 75px;
	border-radius: 10px;
}
.jumbotron img{
 
 	height: 90px;
 	width:90px;
 	background-size: cover;
 	border-radius: 100px;
 	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;


	
}


